.blog-article
  font-size: 18px
  display: block
  padding: rem(15)
  header
    text-align: start
    width: 100%
    margin-bottom: rem(16)
    display: inline-block
    div
      text-transform: uppercase
      color: #aaa
      font-size: 14px
      font-weight: 400
      time
        float: left
      span
        float: right
    .title
      color: #333
      font-size: em(48)
      font-weight: 200
      line-height: 1
      margin-bottom: rem(24)
    a
      color: #333
  .excerpt
    display: block
    p
      margin-bottom: rem(24)
      text-align: start
    a
      float: left
      margin: rem(20) 0
    hr
      width: 100%
      border: 0
      border-top: rem(1) solid #eee