<section id="about">
  <div class="photo">
    <img src="images/ahmedonawale.jpg" alt="Photo of me" class="img-responsive img-about">
  </div>
  <div class="bio">
    <div class="about-text">
       <div class="section-title">
          <h3>Biography</h3>
       </div>
       <p class="intro">
        Born in Africa in late 20th century, the era where computers were for the privileged, actually had a great impact on my life. I had been intrigued by computers at an early age but never had access to them until later in life after high school when I bought a computer of my own.
        <br>
        Then came programming and software development which I very much, by "serendipity" stumbled upon. Today, I am a software engineer, because of the passion I have for computers and an unending curiosity towards learning new things.
        <br>
        My passion is learning new technologies and exploring the mobile platform for new possibilities as well as making improvements where necessary.
       </p>
       <div class="social">
          <ul>
             <li> <a href="https://ng.linkedin.com/in/ahmedonawale"><i class="fa fa-linkedin"></i></a> </li>
             <li> <a href="https://github.com/andela-aonawale"><i class="fa fa-github"></i></a> </li>
             <li> <a href="https://www.twitter.com/ahmedonawale/"><i class="fa fa-twitter"></i></a> </li>
          </ul>
      </div>
  </div>
  </div>
</section> 