.portfolio-image
  width: auto
  height: 313px
  margin: 0 auto

#portfolio
  padding: 100px 0 80px
  background-color: #FBFBFB

.categories
  padding: 10px 0 25px

ul.cat li
  display: inline-block

#portfolio li.pull-right
  margin-top: 10px

.portfolio-item
  margin-bottom: 30px
  width: 100%

.portfolio-item-2
  margin-bottom: 70px
  width: 100%

.portfolio-item .hover-bg
  overflow: hidden
  position: relative