<section id="portfolio">
  <div class="portfolio-item">
    <div class="hover-bg">
    <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1055834585&mt=8">
      <div class="hover-text">
        <h4>GeoMinders</h4>
        <hr class="line">
        <small>A location based reminder for iOS</small>
        <div class="clearfix"></div>
        <small><b>See more &gt;</b></small>
      </div>
      <img src="images/map.png" class="portfolio-image img-responsive" alt="GeoMinders project photo">
    </a>
    </div>
  </div>
  <div class="portfolio-item">
  <div class="hover-bg">
  <a href="http://medlenna.com">
     <div class="hover-text">
        <h4>MedArena</h4>
        <hr class="line">
        <small>iOS app for Doctors and Medical students.</small>
        <div class="clearfix"></div>
        <small><b>See more &gt;</b></small>
     </div>
     <img src="images/med.png" class="portfolio-image img-responsive" alt="Smartcitizen project photo">
  </a>
  </div>
  </div>
  <div class="portfolio-item">
  <div class="hover-bg">
  <a href="">
     <div class="hover-text">
        <h4>PeekNote</h4>
        <hr class="line">
        <small>Smart note taking app for iOS</small>
        <div class="clearfix"></div>
        <small><b>See more &gt;</b></small>
     </div>
     <img src="images/notes.png" class="portfolio-image img-responsive" alt="Lafosca project photo">
  </a>
  </div>
  </div>
</section>