.icons
  width: rem(35)
  height: rem(40)

.content
  background-color: #FBFBFB
  min-height: 90vh
  display: flex
  justify-content: center
  flex-direction: row
  align-items: center
  text-align: center
  width: 70%
  margin: auto

@media(max-width: $screen-size-1024)
  .content
    width: 100%