#home
  background-size: cover
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  color: #434242
  background-color: #FBFBFB
  h1
    font-size: 58px
    font-family: 'Montserrat', sans-serif
    letter-spacing: 10px
    font-weight: 900
    margin-bottom: 28px
  p.lead
    color: #434242
    font-size: 18px
    font-weight: 300
  .content hr
    background-color: #666
    height: 2px
    border: 0 none
    margin-bottom: 30px
    margin-top: 30px
    width: 100px