<section id="home" class="text-center">
   <div class="content">
      <h1>Hi, I'm Ahmed</h1>
      {{typed-string 
        strings=strings
        cursorChar=cursorChar
        contentType=contentType
        loop=loop
        loopCount=loopCount
        typeSpeed=typeSpeed
        backSpeed=backSpeed
        startDelay=startDelay
        backDelay=backDelay
        showCursor=showCursor
        class="typed-string"
      }}
   </div>
</section>