<footer id="footer">
  <p>©2016 Ahmed Onawale. All Rights Reserved.</p>
  <ul class="footer-social">
    <li><a href="https://ng.linkedin.com/in/ahmedonawale"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/andela-aonawale"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.instagram.com/thisisammyreal/"><i class="fa fa-instagram"></i></a></li>
  </ul>
</footer>